<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/main.css">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Github Search Project</title>
</head>
<body>
    <div id="app">
        <!-- Favoritos -->
        <div class="favorites"></div>

        <!-- Contenido -->
        <h3 class="title">{{ subtitle }}</h3>
        <article class="content">
            <h1 class="content-title">Search GitHub</h1>

            <!-- Búsqueda -->
            <form action="" class="search" v-on:submit.prevent="doSearch()">
                <input v-model="search" type="text" class="search-input" placeholder="Enter the Github username of the person you want to find ..." required>
                <input type="submit" class="search-submit" placeholder="Search">
            </form>

            <!-- Resultado -->
            <div class="result" v-if="result">
                <h2 class="result-name">Javier Andrés Moreno</h2>
                <img class="result-avatar" src="https://avatars.githubusercontent.com/u/46449488?v=4" alt="Foto de Perfil" title="Avatar de @javandresmoreno">
                <p class="result-bio">
                    Frontend Developer at paisuscripciones.com. Stoicism apprentice. VueJS enthusiastic
                    <br/>
                    <a href="https://javiermoreno.solido.co" class="result-blog" target="_blank">javiermoreno.solido.co</a>
                </p>
                <a href="https://twitter.com/javandresmoreno" class="result-twitter" target="_blank">@javandresmoreno</a>
            </div>
            <p v-else>Waiting for search ... ⌚</p>
            <!-- Error -->
            <div class="result-error" v-show="error">{{ error }}</div>
        </article>
    </div>
    <script src="./assets/js/main.js"></script>
    <script>
        const mountedApp = app.mount("#app")
    </script>
</body>
</html>